.notification-toast-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10000;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 20px;
  gap: 10px;
}

.toast-wrapper {
  position: relative;
  pointer-events: auto;
}

